body {
 
  background: linear-gradient(135deg, #87ceeb, #ffb6c1);
  background-attachment: fixed;
}


.Title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  color: #464545;
  font-family: Arial, sans-serif;
  padding: 10px 20px;
  border-bottom: 4px double #7bb0ea;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.Subtitle {
  color: #7bb0ea;
}

.Subtitle:hover {
  color: #0056b3;
  cursor: pointer;
}

.box-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 200px;
} 

.Emoji-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 50%;
  height: 220px;
  width: 200px;
  border: 1px solid #878585;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.Emoji-Container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 10px;
  border-radius: 10px;
  height: 150px;
  width: 22%;
  max-width: 300px;
  border: 2px double #878585;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}

.slider {
  width: 200px;
  margin-top: 20px;
  margin-left: 11%;
  cursor: pointer;
}
.Emoji-Container2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 10px;
  border-radius: 10px;
  height: 150px;
  width: 23%;
  max-width: 300px;
 border: 2px double #878585;
 box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
}
.Emoji {
  width: 50px;
  font-size: 25px;
  border-radius: 20%;
  border: 2px solid #ccc;
  cursor: pointer;
  margin: 5px;
  background-color: #bdd1e6;
  border: 1px solid #0677f0;
}
.Emoji:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #ccc;
  cursor: pointer;
  margin: 5px;
  border: 1px solid #8ab6e6;
}
.color:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.skyBlue { background-color: #87ceeb; }     /* Sky */
.oceanBlue { background-color: #1e90ff; }  /* Ocean */
.seaGreen { background-color: #2ecc71; }   /* Nature */
.sand { background-color: #f4d03f; }       /* Beach sand */
.sunsetOrange { background-color: #ff8c42; } /* Sunset */
.sunsetPink { background-color: #ff6f91; } /* Sunset sky */
.mountainGray { background-color: #7f8c8d; } /* Mountains */
.forestGreen { background-color: #145a32; } /* Forest */
.roadBlack { background-color: #2c2c2c; }  /* Road */
.cloudWhite { background-color: #f8f9fa; } /* Clouds */
.lakeBlue { background-color: #3498db; }   /* Lake */
.desertBrown { background-color: #c19a6b; } /* Desert */
.lavaRed { background-color: #a17ced; }    /* Lava */
.volcanoRed { background-color: #1ad09c; } /* Volcano */
.fireBrick { background-color: #db8eca; }  /* Fire */